img{
    display: block;
    width: 45%;
    margin-left: 27.5%;
    margin-right: 27.5%;
    border: black solid 5px;
}
img.left{
    margin-left: 10%;
    margin-right: 0%;
    display: inline;
    width: 39%;
    height: auto;
}
img.right{
    margin-left: 0%;
    margin-right: 10%;
    display: inline;
    width: 39%;
    height: auto;
    
}

p{
    border: black solid 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    display: block;
    background-color: white;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}

p:hover{
    background-color: turquoise;
}

h1:hover{
    background-color: turquoise;
}

.navi:hover{
    background-color: turquoise;
}

h1{
    border: black solid 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    text-align: center;
    background-color: white;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
}

.navi{
    border: black solid 5px;
    padding-left: 0px;
    margin:auto;
    text-align: center;
    background-color: white;
    color: black;
    margin-left: 25%;
    margin-right: 25%;
    
}

.title{
    font-size: 150px;
    margin-top: 0%;
    margin-bottom: 10px;
    
}



.navi>li{
    
    
    
    
    list-style: none;
    display: inline-block;
    

    
    
}

.navi>li>a{
    font-size: xx-large;
    color: black;
    
    
}
.navi>li>a:hover{
    background-color: red;
}

body{
    background-image: url(/Images/CherryBlossom.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}